*.iml
*.iws
*.ipr
.idea/
.gradle/
/local.properties
*R.java
/.idea/workspace.xml
/.idea/libraries
.DS_Store

Breathy/audioSurf/build
Breathy/source/build
Breathy/app/build
/captures
*~
*.swp
/BluetoothChat