<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.philipps.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Game" />
        <activity android:name=".activities.Application" />
        <activity
            android:name=".activities.Options"
            android:label="@string/title_activity_options"/>
    </application>

</manifest>