<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.philipps.spaceFight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.apps.philipps.spaceFight.activities.Game" />
        <activity android:name="com.apps.philipps.spaceFight.activities.FlightOptions"></activity>
    </application>

</manifest>